// by @sergodeeva (https://github.com/sergodeeva)
$color-background: #fdf6e3;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: lighten($color-meta, 10%);
$color-link: rgb(204, 66, 56);
// h4, h5, h6, p
$color-text: #333333;
// meta Color
$color-accent-3: #8c8c8c;
// h2, h3
$color-accent-2: #383838;
// h1
$color-accent-1: #fd2600;
$color-quote: #fd2600;
